<div class="gallery_info">

	Witam i serdecznie zapraszam do obejrzenia mojego portfolio, gdzie prezentuję projekty, odręcznie rysowane wizualizacje oraz realizację ogrodu, który został wykonany w czasie, tempem i narzędziami dogodnymi dla właściciela posesji.

	<p/>
	
	Prezentuję również wybrane rysunki i obrazy wykonane różnymi technikami, które najlepiej odzwierciedlają naturę mojego zainteresowania. Zachęcam do oglądania prac. 

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/Wilczyce" class="preview">
		<img src="/elements/gallery_photos/Wilczyce/thumbnails/okladka.jpg">
	</a>
	
	<span class="description">
		Projekt ogrodu przy domu jednorodzinnym
	</span>

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/Taras" class="preview">
		<img src="/elements/gallery_photos/Taras/thumbnails/taras -wiz 1.jpg">
	</a>
	
	<span class="description">
		Projekt tarasu domu jednorodzinnego
	</span>

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/Hotel" class="preview">
		<img src="/elements/gallery_photos/Hotel/thumbnails/cover.jpg">
	</a>
	
	<span class="description">
		koncepcja strefy wejściowej do hotelu
	</span>

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/Ogrodzenia" class="preview">
		<img src="/elements/gallery_photos/Ogrodzenia/thumbnails/cover.jpg">
	</a>
	
	<span class="description">
		projekt ogrodzenia
	</span>

</div>

<div class="gallery_cover" style="clear:left;">

	<a href="/gallery/browse/Irlandia" class="preview">
		<img src="/elements/gallery_photos/Irlandia/thumbnails/IMG_0307.JPG">
	</a>
	
	<span class="description">
		Irlandia
	</span>

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/W_plenerze" class="preview">
		<img src="/elements/gallery_photos/W_plenerze/thumbnails/IMG_0176.JPG">
	</a>
	
	<span class="description">
		W plenerze
	</span>

</div>

<div class="gallery_cover">

	<a href="/gallery/browse/Kalendarium" class="preview">
		<img src="/elements/gallery_photos/Kalendarium/thumbnails/Untitled-Scanned-07.jpg">
	</a>
	
	<span class="description">
		Kalendarium
	</span>

</div>
