<div class="content_offert">

<div style="clear:both;"></div>
	
<p>Wykonam projekt na podstawie, kt&oacute;rego będą mogli Państwo r&oacute;wnież sami go zrealizować stopniowo w dogodnym dla Państwa czasie, biorąc pod uwagę r&oacute;wnież kwestie finansowe. Wniosę korekty w Państwa dotychczasowych nasadzeniach. Znajdę dla istniejących i projektowanych roślin odpowiednie miejsce do ich prawidłowego wzrostu, nie usuwając już istniejących. Jednocześnie służę pomocą w drobnych pracach takich jak przesadzanie niewielkich drzew, krzew&oacute;w i innych roślin. Wyznaczę granice trawnika, sprawię opiekę nad nasadzaniem nowej roślinności. Wszystko to kierując się odpowiednią kompozycją przestrzenną, formalną i kolorystyczną. Dzięki mojej pomocy oszczędzają Państwo cenny czas, oszczędzają przypadkowo, okazjonalnie bądź nieumiejętnie wydane pieniądze na materiał roślinny, a zyskają na przemyślanym, indywidualnym projekcie <br/>
i pomocy jaką oferuję przez całą budowę ogrodu, tarasu czy balkonu.<br />
&nbsp;<br />
Każdy projekt składać się będzie z planszy z naniesioną zielenią projektowaną i istniejącą oraz odręcznie wykonanych wizualizacji przestrzennych, dzięki kt&oacute;rym zobaczą Państwo sw&oacute;j przyszły ogr&oacute;d.<br />
&nbsp;<br />
Etapy realizacji projektu:<br />
&nbsp;<br />
I.&nbsp;Pierwsze spotkanie z Państwem: poznaję Państwa życzenia, preferencje i oczekiwania jakie ma spełniać przyszły ogr&oacute;d. Decydują Państwo o wyglądzie i funkcji przyszłego ogrodu. Omawiamy szczeg&oacute;ły. Przeprowadzam lokalną wizję na terenie projektowanym:wymiaruję ogr&oacute;d, wykonuję zdjęcia, pobieram pr&oacute;bki gleby do analizy, inwentaryzuję rośliny istniejące.<br />
&nbsp;<br />
II.&nbsp;Drugie spotkanie z Państwem: przedstawiam wstępną og&oacute;lną koncepcję ogrodu, tarasu lub balkonu. Omawiam proponowane przeze mnie gatunki roślin i zastosowany detal &ndash; materiał budowlany. Wsp&oacute;lnie wprowadzamy ewentualne poprawki lub tworzymy kolejne koncepcje tak, aby projektowany ogr&oacute;d spełniał wszystkie Państwa oczekiwania.<br />
&nbsp;<br />
III.&nbsp;Wykonanie projektu: po otrzymaniu przez Państwa akceptacji koncepcji wykonuję szczeg&oacute;łowy projekt składający się <br/>
z części graficznej i opisowej.<br />
&nbsp;<br />
IV.&nbsp;Nadz&oacute;r autorski: służę pomocą w pracach w ogrodzie zaplanowanych w dowolnym dla Państwa czasie.<br />
Każdy gotowy projekt ogrodu stanowi szczeg&oacute;łowe, dokładne i profesjonalne opracowanie.<br />
&nbsp;<br />
CZĘŚĆ GRAFICZNA<br />
&nbsp;<br />
<strong>&bull; Projekt roślinności</strong>&nbsp;z oznaczeniem gatunk&oacute;w i odmian roślin do łatwego zbudowania Państwa ogrodu (rzut z g&oacute;ry, skala 1:100, wersja czarno - biała).<br />
<strong>&bull; Projekt zagospodarowania ogrodu</strong>&nbsp;z określeniem rodzaju zastosowanego materiału: kamienia, bruku, drewna, metalu <br/>
( rzut z góry, podane wymiary rabat, ścieżek, podjazd&oacute;w i altan).<br />
<strong>&bull; Projekt ogrodu w kolorze</strong>&nbsp;(rzut z g&oacute;ry ).<br />
<strong>&bull; Wizualizacje ważnych fragment&oacute;w ogrodu</strong>&nbsp;&ndash; rysunki perspektywiczne ogrodu odręcznie narysowane.<br />
&nbsp;<br />
CZĘŚĆ OPISOWA<br />
&nbsp;<br />
<strong>&bull; Spis ilościowy gatunk&oacute;w i odmian roślin</strong>&nbsp;wykorzystanych w projekcie. Wykaz drzew, krzew&oacute;w i bylin.&nbsp;<br />
Projekt wyceniam indywidualnie na podstawie zakresu prac i po wizycie w terenie. Oferuje indywidualne podejście.<br />
&nbsp;<br />
<strong>Jeżeli twierdzą Państwo, że nie stać Państwa na projektanta ogrod&oacute;w, to proszę się zastanowić, czy stać Państwa na błędy.</strong><br />
&nbsp;<br />
Zapraszam do zapoznania się z moją galerią oraz do wsp&oacute;łpracy!<br />
&nbsp;<br />
Pozdrawiam<br />
Kazimiera Białka</p>



</div>
