<script type="text/javascript" src="/elements/libraries/nice_edit/nicEdit.js"></script>
<script type="text/javascript">bkLib.onDomLoaded(function() {nicEditors.allTextAreas({iconsPath : '/elements/libraries/nice_edit/nicEditorIcons.gif',
buttonList:['bold','italic','underline','left','center','right','justify','ol','ul','forecolor','link','unlink']});});</script>



<div class="contact_wrapper">
	
	<form class="contact_form" method="POST" action="/contact" autofill="disable">

		<input type="text" name="mail" placeholder="Proszę podać swój adres e-mail">
		<input type="submit" name="submit" value="Wyślij wiadomość">
		<p/>
		<div style="background:rgba(255, 255, 255, 0.8)"><textarea id="contact" name="text"></textarea></div>

	</form>

	<div class="contact_space"></div>

	<div class="contact_info">

		<h1>PROJEKTOWANIE OGRODÓW WROCŁAW</h1>
		
		Kazimiera Białka - mgr inż. architekt krajobrazu <br/>
		Tel: 605 58 13 13 <br/>
		E-mail: rysuj.ogrody@gmail.com <br/>

	</div>
	
</div>

