<div class="metro">
	
	<a class="piece about" href="/about"><div class="holder"><div class="desc">Kilka słów o mojej osobie</div></div></a>
	<a class="piece offert" href="/offert"><div class="holder"><div class="desc">Dla osób ceniących sobie czas</div></div></a>
	<a class="piece gallery" href="/gallery"><div class="holder"><div class="desc">Interaktywna galeria</div></div></a>
	<a class="piece contact" href="/contact"><div class="holder"><div class="desc">Formularz kontaktowy</div></div></a>
	
</div>
